## Questions
<ul>
<li>What range of years does the provided database cover?</li>
<br> 
<li>Find the name and height of the shortest player in the database. How many games did he play in? What is the name of the team for which he played?</li>
<br> 
<li>Find all players in the database who played at Vanderbilt University. Create a list showing each player’s first and last names as well as the total salary they earned in the major leagues. Sort this list in descending order by the total salary earned. Which Vanderbilt player earned the most money in the majors?</li>
<br> 
<li>Using the fielding table, group players into three groups based on their position: label players with position OF as "Outfield", those with position "SS", "1B", "2B", and "3B" as "Infield", and those with position "P" or "C" as "Battery". Determine the number of putouts made by each of these three groups in 2016.</li>
<br> 
<li>Find the average number of strikeouts per game by decade since 1920. Round the numbers you report to 2 decimal places. Do the same for home runs per game. Do you see any trends?</li>
<br> 
<li>Find the player who had the most success stealing bases in 2016, where success is measured as the percentage of stolen base attempts which are successful. (A stolen base attempt results either in a stolen base or being caught stealing.) Consider only players who attempted at least 20 stolen bases.</li>
<br> 
<li>From 1970 – 2016, what is the largest number of wins for a team that did not win the world series? What is the smallest number of wins for a team that did win the world series? Doing this will probably result in an unusually small number of wins for a world series champion – determine why this is the case. Then redo your query, excluding the problem year. How often from 1970 – 2016 was it the case that a team with the most wins also won the world series? What percentage of the time?</li>
<br> 
<li>Using the attendance figures from the homegames table, find the teams and parks which had the top 5 average attendance per game in 2016 (where average attendance is defined as total attendance divided by number of games). Only consider parks where there were at least 10 games played. Report the park name, team name, and average attendance. Repeat for the lowest 5 average attendance.</li>
<br> 
<li>Which managers have won the TSN Manager of the Year award in both the National League (NL) and the American League (AL)? Give their full name and the teams that they were managing when they won the award.</li> 
</ul>

## Bonus Questions
<ul>
<li>Analyze all the colleges in the state of Tennessee. Which college has had the most success in the major leagues. Use whatever metric for success you like - number of players, number of games, salaries, world series wins, etc.</li>
<br>
<li>Is there any correlation between number of wins and team salary? Use data from 2000 and later to answer this question. As you do this analysis, keep in mind that salaries across the whole league tend to increase together, so you may want to look on a year-by-year basis.</li>
<br>
<li>It is thought that since left-handed pitchers are more rare, causing batters to face them less often, that they are more effective. Investigate this claim and present evidence to either support or dispute this claim. First, determine just how rare left-handed pitchers are compared with right-handed pitchers. Are left-handed pitchers more likely to win the Cy Young Award? Are they more likely to make it into the hall of fame?</li>

In [1]:
import os

import pandas as pd
from sqlalchemy import create_engine

In [2]:
from dotenv import load_dotenv
load_dotenv()

True

In [3]:
username = os.getenv('POSTGRES_USERNAME')
password = os.getenv('POSTGRES_PASSWORD')


postgres_connection_string = "postgres://{username}:{password}@{host}:{port}/{database}?gssencmode=disable".format(
    username=username,
    password=password,
    host="localhost",
    port="5432",
    database="lahman_baseball"
)

In [4]:
engine = create_engine(postgres_connection_string)

In [37]:
batting_sql = "SELECT * FROM batting;"
teams_sql = "SELECT * FROM teams;"
people_sql = "SELECT * FROM people;"
appearances_sql = "SELECT * FROM appearances;"

In [38]:
batting_df = pd.read_sql(batting_sql, con=engine)
teams_df = pd.read_sql(teams_sql, con=engine)
people_df = pd.read_sql(people_sql, con=engine)
appearances_df = pd.read_sql(appearances_sql, con=engine)

#### What range of years does the provided database cover?

In [12]:
teams_df['yearid'].min()

1871

In [13]:
teams_df['yearid'].max()

2016

#### Find the name and height of the shortest player in the database. How many games did he play in? What is the name of the team for which he played?

In [18]:
people_df.head()

,playerid,birthyear,birthmonth,birthday,birthcountry,birthstate,birthcity,deathyear,deathmonth,deathday,...,namelast,namegiven,weight,height,bats,throws,debut,finalgame,retroid,bbrefid
0,aardsda01,1981.0,12.0,27.0,USA,CO,Denver,NaN,NaN,NaN,...,Aardsma,David Allan,215.0,75.0,R,R,2004-04-06,2015-08-23,aardd001,aardsda01
1,aaronha01,1934.0,2.0,5.0,USA,AL,Mobile,NaN,NaN,NaN,...,Aaron,Henry Louis,180.0,72.0,R,R,1954-04-13,1976-10-03,aaroh101,aaronha01
2,aaronto01,1939.0,8.0,5.0,USA,AL,Mobile,1984.0,8.0,16.0,...,Aaron,Tommie Lee,190.0,75.0,R,R,1962-04-10,1971-09-26,aarot101,aaronto01
3,aasedo01,1954.0,9.0,8.0,USA,CA,Orange,NaN,NaN,NaN,...,Aase,Donald William,190.0,75.0,R,R,1977-07-26,1990-10-03,aased001,aasedo01
4,abadan01,1972.0,8.0,25.0,USA,FL,Palm Beach,NaN,NaN,NaN,...,Abad,Fausto Andres,184.0,73.0,L,L,2001-09-10,2006-04-13,abada001,abadan01

In [33]:
shortest_player = people_df[people_df.height == people_df.height.min()]

In [43]:
shortest_player['namegiven']

5843    Edward Carl
Name: namegiven, dtype: object

In [48]:
edward_carl_id = list(shortest_player['playerid'])

In [57]:
appearances_df[appearances_df['playerid'].isin(['gaedeed01'])]

,yearid,teamid,lgid,playerid,g_all,gs,g_batting,g_defense,g_p,g_c,...,g_2b,g_3b,g_ss,g_lf,g_cf,g_rf,g_of,g_dh,g_ph,g_pr
35173,1951,SLA,AL,gaedeed01,1,0.0,1,0,0,0,...,0,0,0,0,0,0,0,0.0,1.0,0.0

In [62]:
teams_df['name'][teams_df['teamid'].isin(['SLA'])].head(1)

412    St. Louis Browns
Name: name, dtype: object